:root {
	--txt-color: #222;

	--link-color: #015ab8;
	--link-color-hover: #033972;

	--menu-icon: #222;
	--menu-icon-hover: #333;
	--menu-icon-close: #fff;
	--header-bg: rgb(0 0 0 / 42%);


	--body-bg: #D7D7D7;
	--main-bg: #fff;
	--go-to-top: #222;
}